.navbar-custom{
	background-color: #265C8A;
	font-color:white;
}

.subnavbar-custom{
	background-color: #DEDEDE;
}

.card-custom{
	background-color: #1678C2;
}

.btn-custom{
	background-color: #265C8A;
}

.hr-custom{
	border: 1px solid gray;
}

.custom-span{
	color: red;
}